{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>

  {% if user.is_authenticated %}
  {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}
   {%endif%}

    <div class="wrapper">
      <div class="parallax">
        <div class="pagetitle">
          <h1 class="homeTitle">Research Match</h1>
        </div>
        <div class="homeButtonsWrapper" style="{% if user.is_authenticated %} {% csrf_token %} {% else %} gap: 1rem; {% endif %}">
          {% if user.is_authenticated %} {% csrf_token %}
              {% if user.studentprofile.is_student %}
                <button >
                  <p><a href="{% url 'opportunities' %}">Find Research Opportunities</a></p>
                </button>
              {% else %}
                <button >
                  <p><a href="{% url 'profile' request.user.studentprofile.get_user_name %}">Go back to homepage</a></p>
                </button>
              {% endif %}
                <p><a href="{% url 'signout' %}">Log out</a></p>
              </button>
          {%else%}
            <button>
              <p><a href="{% url 'signup' %}">Sign Up</a></p>
            </button>
            <button>
            <p><a href="{% url 'studentlogin' %}">Log In</a></p>
            </button>
          {%endif%}
        </div>
      </div>
      <!-- FAQ -->
      {% if user.is_authenticated %}
      <div>
        <h3>What is Research Match?</h3>
        <p style="text-indent: 1rem;">Research Match is a website that connects Emory University students with research opportunities.</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
