{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
    
    {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}

    <div class="wrapper">
      <div class="pagetitle">
        <h1 class="homeTitle">Research Match</h1>
      </div>
      <div class="homeButtonsWrapper">
        {% if user.is_authenticated %} {% csrf_token %}
        <p>Welcome back, {{user.first_name}}!</p>
        <button
          onclick="window.location.href='/opportunities';"
          style="animation: fadeIn 2s"
        >
          Find Research Opportunities
        </button>
          <p><a href="{% url 'signout' %}">Log out</a></p>
        </button>
        {%else%}
        <button
          onclick="window.location.href='/signup';"
          style="animation: fadeIn 2s"
        >
          Sign Up
        </button>
        <button
          onclick="window.location.href='/studentlogin';"
          style="animation: fadeIn 2.5s"
        >
          Log In
        </button>
        {%endif%}
      </div>
    </div>
  </body>
</html>
