{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    {% if user.is_authenticated %} {%else%}
    <meta http-equiv="refresh" content="0; /signup" />
    {%endif%}
    <title>LabProfile</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
    {% block navbar%}
    {% include 'navbar.html' %}
    {% endblock navbar %}

    <div class="wrapper">
      <div class="pagetitle">
        <header>
          {% if user == user_object %}
          <h3>Welcome Back, {{ user_object.first_name }}!</h3>
          {% else %}
          <h3>{{ user_object.first_name }} {{ user_object.last_name }}</h3>
          {%endif%}
        </header>
      </div>

      <!-- Identity -->
      <div class="gridBox" style="justify-content: space-between;">
        <div class="Identityinfo">
          <img
            src="{{ user_object.studentprofile.profile_pic.url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{user_object.first_name }} {{user_object.last_name}}</h2>
          {% if user == user_object %}
          <form
          action="{% url 'labpictureupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Picture" />
        </form>
        {%endif%}
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Required Skills</h2>
          <div class="tagscluster">
            
            <!-- Check if skills -->
            {% if not user.studentprofile.skill %}
              <p style="font-size: smaller; color: var(--color-subtitle); margin-top: 0;">Nothing here!</p>
            {%else%}
            <!-- Split items in skill -->
            {% for i in user.studentprofile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
             {%endif%}
          </div>
         
          <br>
          {% if user == user_object %}
          <form
          action="{% url 'labskillsupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Skills" />
        </form>
        {%endif%}
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Required Courses</h2>
          <div class="tagscluster">
            {% if not user.studentprofile.course %}
              <p style="font-size: smaller; color: var(--color-subtitle); margin-top: 0;">Nothing here!</p>
            {%else%}
            <!-- Split items in courses -->
            {% for i in user.studentprofile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
            {%endif%}
          </div>
          <br>
          {% if user == user_object %}
          <form
          action="{% url 'labcourseupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Courses" />
        </form>
        {%endif%}
        </div>
      </div>

      <!-- Biography -->
      <div class="gridBox" id="about">
        <h2>About Our Lab</h2>
        <div class="Margins" id="target"></div>
        {% if not user.studentprofile.biography %}
          <p style="font-size: smaller; color: var(--color-subtitle); margin-top: 0;">Nothing here!</p>
        {%else%}
          <p>{{ user.studentprofile.biography}}</p>
        {%endif%}
        {% if user == user_object %}
        <form
        action="{% url 'labbioupdate'%}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form }}
        <input class="matchButtons" type="submit" value="Change Biography" />
      </form>
      {%endif%}
      </div>

      <!-- Documents -->
      <div class="gridBox" id="about">
        <h2>My Files</h2>
        {% if not user.studentprofile.documents %}
          <p style="font-size: smaller; color: var(--color-subtitle); margin-top: 0;">Nothing here!</p>
        {%else%}
        <p>Document Name: {{user.studentprofile.documents}}</p>
        {% if user.studentprofile.documents %}
        <a href="{{ user.studentprofile.documents.url }}" target="_blank">Download Document</a>
        {%endif%}
        {%endif%}
        <br>
        {% if user == user_object %}
        <form
        action="{% url 'labdocupdate'%}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form }}
        <input class="matchButtons" type="submit" value="Change Document" />
      </form>
      {%endif%}
      </div>

      <!-- Courses -->
      <!-- <div class="ProfileBox" style="margin-left: 0">
        <h2 class="Margins">Courses I've Taken</h2>
        <div class="Margins" id="target2"></div>
        
         <form class="Courseform">
          <div id="Course_item"></div>
          <p id="Course_input"> {{user.studentprofile.course}}</p>
          {% comment %} <p class="Margins">Required course:</p> {% endcomment %}

          {% comment %} <input type="text" id="Course_input" />
          <input type="button" id="addCourse" value="Add New Course" /> {% endcomment %}
      </form>
      </div>
    </div> -->
<!-- 
    <div class="editButtons" style="margin-left: 0">
      <form action="{% url 'studentprofile'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="addSkill" value="Edit My Profile"> -->

      <!-- Edit Profile -->
      {% if user == user_object %}
      <div style="display: flex; justify-content: end">
        
        <form
          action="{% url 'labprofile'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" id="addSkill" value="Edit Profile" />
        </form>
        
      </div>
      {%endif%}
    </div>  
    
    <script src="{% static '/Profile.js' %}"></script>
  </body>
</html>
