{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    {% if user.is_authenticated %} {%else%}
    <meta http-equiv="refresh" content="0; /signup" />
    {%endif%}
    <title>Matches</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
    {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}

   <div id="matches-current">
    <div class="pagetitle">
      <h3>Matched Labs</h3>
    </div>
    {% comment %} This for loop lists all users that match with the current user. {% endcomment %}
    {% for profile in user_profile.matched_by.all %}
    {% if profile not in user_profile.matches.all%}
    <div class="gridBox" style="justify-content: space-between;">
      <div class="Identityinfo">
        <img
          src="{{ profile.profile_pic.url }}"
          class="StudentPicture"
        />
        <h2 class="StudentName">{{profile.labname}}</h2>
        <p class="Headline">{{profile.get_email}}</p>
      </div>
      <!-- Skills -->
      <div
        class="Identityinfo"
        id="inputs"
        style="
          display: flex;
          flex-direction: column;
          justify-content: start;
          margin-left: 2rem;
        "
      >
        <h2 style="margin-top: 0;">Skills Required</h2>
        <div class="tagscluster">
          
          <!-- Split items in skill -->
          {% for i in profile.skill_list %}
            <div class="child"> {{ i.strip }} </div>
          {% endfor %}
        </div>
      </div>
      <!-- Completed Courses -->
      <div
        class="Identityinfo"
        id="inputs"
        style="
          display: flex;
          flex-direction: column;
          justify-content: start;
          margin-left: 2rem;
        "
      >
        <h2 style="margin-top: 0;">Courses Required</h2>
        <div class="tagscluster">
          <!-- Split items in courses -->
          {% for i in profile.course_list %}
            <div class="child"> {{ i.strip }} </div>
          {% endfor %}
        </div>
      </div>
    </div> 

    
    {% elif profile not in user_profile.matched_by.all %}
    <h2> No Matched Labs  </h2>
    {%endif%}

    {% endfor %}
  
   
    <div id="matches-current">
      <div class="pagetitle">
        <h3>Current Labs</h3>
      </div>
      {% comment %} This for loop lists all users that match with the current user. {% endcomment %}
      {% for profile in user_profile.matches.all %}
      {% if profile in user_profile.matched_by.all%}
       <div class="gridBox" style="justify-content: space-between;">
        <div class="Identityinfo">
          <img
            src="{{ profile.profile_pic.url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{profile.labname}}</h2>
          <p class="Headline">{{profile.get_email}}</p>
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills Required</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in profile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Courses Required</h2>
          <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in profile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
      </div> 

     
      {% else %}
      <h2> No Current Labs  </h2>
      {%endif%}

      {% endfor %}
    
    </div>
      <div>
    </div>
    {% comment %} <div id="matches-past">
      <div class="pagetitle">
        <h3>Past Labs</h3>
      </div> {% endcomment %}
    </div>
    {% comment %} <script src="{% static '/Matches.js' %}"></script> {% endcomment %}
  </body>
</html>
