{% block content %}
{% load crispy_forms_tags %}
<div class="content-section">
    <div class="media"> 
        <img class="picture" src="{{user.profile.image.url}}">
        <div class="media-body">
            <h2 class="name"> {{username.firstname}} {{username.lastname}} </h2>
            <p class="text-secondary"> {{user.email}}</p>
        </div>
    </div>
    <form method="POST" enctype="mulipart/form-data" class="uniForm">
         {% csrf_token %}
         <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</Legend>
                {{ u_form }}
                {{ p_form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>

</div>
{% endblock content %}
    