
<div class="container">
    <form method="POST">
      <fieldset>
        <legend>Add Skills</legend>
        {% csrf_token %}
        {{ u_form }} 
        {{ p_form }}
        <button type="submit" class="btn btn-primary">Update</button>
      </fieldset>
    </form>
</div>

<!-- <form action="/profilepage/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<form action="skill/" method="post">
  {% csrf_token %} {{ form }}
  <input type="submit" value="Submit" />
</form> -->

