{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,
                   initial-scale=1.0" />
  {% if user.is_authenticated %} {%else%}
  <meta http-equiv="refresh" content="0; /signup" />
  {%endif%}
  <title>LabProfile</title>
  <link rel="stylesheet" href="{% static '/style.css' %}" />
</head>

<body>
    {% block navbar%}
    {% include 'navbar.html' %}
    {% endblock navbar %}

  <div id="matches">
    <div class="pagetitle">
      <h3>All Students</h3>

      {% include 'form_searchstudents.html' %}
      
    </div>

  </div>

  <div class="student-profiles">
    <ul>
      {% for student in page_obj %}
        <li>{{ student.first_name }}{{ student.last_name }}</li>
      
      {% empty %}
        <p>No students found.</p>
      {% endfor %}
    </ul>
  </div>

  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

{% comment %} 
  <script src="{% static '/matchedstudents.js' %}"></script> {% endcomment %}
  <script src="{% static '/Navbar.js' %}"></script>
</body>

</html>