{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    {% if user.is_authenticated %} {%else%}
    <meta http-equiv="refresh" content="0; /signup" />
    {%endif%}
    <title>StudentProfile</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
      {% comment %} This block connects the navigation bar to the profile page. {% endcomment %}
   {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}

    <div class="wrapper">
      <div class="pagetitle">
        <header>
          {% if user.is_authenticated %}
          {% comment %} <h3>Welcome Back, {{ user.first_name }}!</h3> {% endcomment %}
          <h3>Welcome Back, {{ user_object.first_name }}!</h3>
          {%endif%}
        </header>
      </div>

      <!-- Identity -->
      <div class="gridBox" style="justify-content: space-between;">
        <div class="Identityinfo">
          <img
            src="{{ user.studentprofile.profile_pic.url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{user.first_name }} {{user.last_name}}</h2>
          <!-- <p class="Headline">biology major at emory</p>
          <div class="child"> GPA: {{user.studentprofile.gpa}} </div> -->
          <form
          action="{% url 'studentpictureupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Picture" />
        </form>
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in user.studentprofile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
          <br>
          <form
          action="{% url 'studentskillsupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Skills" />
        </form>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Completed Courses</h2>
          <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in user.studentprofile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
          <br>
          <form
          action="{% url 'studentcourseupdate'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" value="Change Courses" />
        </form>
        </div>
      </div>
    
    

      <!-- Biography -->
      <div class="gridBox" id="about">
        <h2>About Me</h2>
        <div class="Margins" id="target"></div>

        <form class="Biographyform">
          <p
            id="bio"
            name="biotext"
            rows="8"
            cols="20"
            placeholder="Hello, I am..."
          >
            {{ user.studentprofile.biography}}
          </p>
        </form>
        <form
        action="{% url 'studentbioupdate'%}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form }}
        <input class="matchButtons" type="submit" value="Change Biography" />
      </form>
      </div>

      <!-- Documents -->
      <div class="gridBox" id="about">
        <h2>My Files</h2>
        <p>Document Name: {{user.studentprofile.documents}}</p>
        {% if user.studentprofile.documents %}
        <a href="{{ user.studentprofile.documents.url }}" target="_blank">Download Document</a>
        {%endif%}
        <br>
        <form
        action="{% url 'studentdocupdate'%}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form }}
        <input class="matchButtons" type="submit" value="Change Document" />
      </form>
      </div>

      <!-- Courses -->
      <!-- <div class="ProfileBox" style="margin-left: 0">
        <h2 class="Margins">Courses I've Taken</h2>
        <div class="Margins" id="target2"></div>
        
         <form class="Courseform">
          <div id="Course_item"></div>
          <p id="Course_input"> {{user.studentprofile.course}}</p>
          {% comment %} <p class="Margins">My course:</p> {% endcomment %}

          {% comment %} <input type="text" id="Course_input" />
          <input type="button" id="addCourse" value="Add New Course" /> {% endcomment %}
      </form>
      </div>
    </div> -->
<!-- 
    <div class="editButtons" style="margin-left: 0">
      <form action="{% url 'studentprofile'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="addSkill" value="Edit My Profile"> -->

      <!-- Edit Profile -->
        <!-- {% if request.user == user_object.user%}
      <div style="display: flex; justify-content: end">
        <form
          action="{% url 'studentprofile'%}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form }}
          <input class="matchButtons" type="submit" id="addSkill" value="Edit Profile" />
        </form>
      </div>
{%endif%}
    </div>   -->
    
    <script src="{% static '/Profile.js' %}"></script>
  </body>
</html>
