
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
  </head>
  <body style="justify-content: start;">
    <header>
      <br>
      <h1 class="heading">Research Match</h1>
      <h3 class="title">Password Reset</h2>
    </header>

    <div class="container" style="padding: 3rem; height: 17rem">
        <form
          style="display: flex; flex-direction:column; gap:1rem;justify-content: space-evenly;"
          action=""
          method="post"
          name="passwordChangeForm"
          id="passwordChangeForm"
        >
          <p>Enter your email address below, 
            and we'll email instructions for setting a new one. </p>

          <form method="post">
            {% csrf_token %}
           {{form}}

          
          <div class="buttonWrapper" style="align-self: end;">
            <button
              type="submit"
              id="submitButton"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Send Email</span>
              <span id="loader"></span>
            </button>
          </div>
        </form>
    </div>
  </body>
</html>
