<div>
  <div class="user-search">
    <img src="{{ recipient.studentprofile.profile_pic }}"/>
    <div style="display: flex; flex-direction: column;">
      {{ recipient.first_name }} {{ recipient.last_name }}
      <span>{{ recipient.username }}</span>
    </div>
  </div>
</div>

<div class="newmessage">
  <form method="POST" action="{% url 'inbox-newmessage' recipient.id %}">
    {% csrf_token %} {{ new_message_form }}
    <button type="submit" class="send-new-message" style="float: none;">Submit Message</button>
    <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
  </form>
</div>
