{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    <title>Inbox</title>
    <link rel="stylesheet" href="{% static '/SSTYLE.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
  </head>
<body>
<!-- Navbar goes here -->
<div class="wrapper" style="height: 100dvh;">
  <inbox class="inbox">
    <div class="inboxleft">
      {% include 'form_searchuser.html' %}
      {% include 'my_conversations.html' %}
      <div id="open-conversations"></div>
    </div>
    <div class="inboxright">
      {% include 'conversation.html' %}
    </div>
  </inbox>
</div>
</body>
<script>
  function scrollToBottom() {
    const container = document.getElementById("conversation");
    container.scrollTop = container.scrollHeight;
  }

  window.onload = function () {
    scrollToBottom();
  };
</script>
</html>