<div class="student-profiles">
    <ul>
      {% for lab in page_obj %}
        <li>{{ user.first_name }}{{ student.last_name }}</li>
      
      {% empty %}
        <p>No students found.</p>
      {% endfor %}
    </ul>
  </div>

  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>