{% for student in page.object_list %}
    <div class="result">
        <!-- Profile Picture -->
        <div class="student-photo">
                <img src="{{ user.studentprofile.profile_pic }}" alt="Profile Picture">
        </div>

        <!-- Student Information -->
        <div class="result-info">
            <!-- Student Name -->
            <div class="student-name">
                <h2>{{ user.first_name }}{{ user.last_name }}</h2>
            </div>

            <!-- Student Biography -->
            {% if student.biography %}
                <div class="student-biography">
                    <p>{{ user.biography }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if page %}
    <div id="load-more">
        {% if page.has_next %}
            <div class="load-more">
                <button
                    hx-get="{% url 'partial_search' %}"
                    hx-target="#load-more"
                    hx-vals='{"q": "{{ request.GET.q }}", "page": "{{ page.next_page_number }}"}'
                    hx-swap="outerHTML"
                >
                    Load More
                </button>
            </div>
        {% endif %}
    </div>
{% endif %}