{% load static %}
<head>

  <script src="https://app.simplefileupload.com/buckets/93fbd68b9250f42d26b2a4c9b1f48617.js"></script>
</head>
<link rel="stylesheet" href="{% static '/form.css' %}" />
<div class="form-control">
  <form method="POST" enctype="multipart/form-data">
    <fieldset>
      <legend>Update Your Profile</legend>
      {% csrf_token %} 
      {{ p_form.as_p }}
     <button type="submit" class="btn btn-primary">Update</button>
    </fieldset>
  </form>
</div>

<input id="image_url" class="simple-file-upload" type="hidden" data-resize-width="225" data-resize-height="225" data-maxFileSize="5" data-accepted="image/*">
<!-- <form action="/profilepage/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<form action="skill/" method="post">
  {% csrf_token %} {{ form }}
  <input type="submit" value="Submit" />
</form> -->

