{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}" />

<div style="display: flex; flex-direction: column; margin-top: 3rem; margin-left: 3rem;">
  <div class="user-search">
    <img src="{{ recipient.studentprofile.profile_pic.url }}" style="width: 15rem; height: 15rem;"/>
    <div style="display: flex; flex-direction: column;">
      {{ recipient.first_name }} {{ recipient.last_name }}
      <span>{{ recipient.username }}</span>
    </div>
  </div>
  <div class="newmessage">
  <form method="POST" action="{% url 'inbox-newmessage' recipient.id %}" style="display: flex; flex-direction: column; width: 15rem;">
    {% csrf_token %} {{ new_message_form }}
    <button type="submit" class="send-new-message" style="float: none;">Submit Message</button>
    <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
  </form>
</div>
</div>

