{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}" />

<body style="background-image: none;">
<div style="display: flex; flex-direction: column; margin-top: 3rem; margin-left: 3rem; gap: 0.5rem;">
  <div style="display: flex;">
    <img src="{{ recipient.studentprofile.profile_pic.url }}" style="width: 5rem; height: 5rem; border-radius: 1rem; border: 0.5rem solid white;"/>
    <div style="display: flex; flex-direction: column; margin-top: auto; margin-bottom: auto;">
      <h1 style="margin: 0;">{{ recipient.first_name }} {{ recipient.last_name }}</h1>
      <p style="margin: 0; color: var(--color-subtitle);">{{ recipient.username }}</p>
    </div>
  </div>
  <div class="newmessage">
  <form method="POST" action="{% url 'inbox-newmessage' recipient.id %}" style="display: flex; flex-direction: column; width: 30rem; gap: 0.5rem;">
    {% csrf_token %} {{ new_message_form }}
    <div class="send-message-buttons" style="display: flex; flex-direction: row; gap: 1rem; justify-content: end;">
        <a style="margin-top: auto; margin-bottom: auto;" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        <button type="submit" class="send-new-message" style="float: none;">Submit Message</button>
    </div>
  </form>
</div>
</div>
</body>

