{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <script src="https://app.simplefileupload.com/buckets/93fbd68b9250f42d26b2a4c9b1f48617.js"></script>
  </head>

  <body>
{% comment %} 
  {% if user.is_authenticated %}
  {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}
   {%endif%} {% endcomment %}

    <div class="wrapper">
      <div class="pagetitle">
        <h1 class="homeTitle">Research Match</h1>
      </div>
      <div class="homeButtonsWrapper">
        {% if user.is_authenticated %} {% csrf_token %}
          <p>Welcome back, {{user.first_name}}!</p>
            {% if user.studentprofile.is_student %}
              <button >
                <p><a href="{% url 'MatchAlgorithm' %}">Find Research Opportunities</a></p>
              </button>
            {% else %}
              <button >
                <p><a href="{% url 'profile' request.user.studentprofile.get_user_name %}">Go back to homepage</a></p>
              </button>
            {% endif %}
              <p><a href="{% url 'signout' %}">Log out</a></p>
            </button>
        {%else%}
          <button>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
          </button>
          <button>
          <p><a href="{% url 'studentlogin' %}">Log In</a></p>
          </button>
        {%endif%}
      </div>
    </div>
  </body>
</html>
