{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
                   initial-scale=1.0"
    />
    {% if user.is_authenticated %} {%else%}
    <meta http-equiv="refresh" content="0; /signup" />
    {%endif%}
    <title>Matches</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
   {% block content%}
   {% include 'navbar.html' %}
   {% endblock content%}

   <div id="matches-current">
    <div class="pagetitle">
      <h3>Matched Labs</h3>
    </div>
    {% comment %} This for loop lists all users that match with the current user. {% endcomment %}
    {% for profile in user_profile.matched_by.all %}
    {% if profile not in user_profile.matches.all%}

    <div class="gridBox-match" id="match_lab">
        <div class="top-row">
          <div class="Identityinfo">
          <img
            src="{{ profile.image_url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{profile.labname}}</h2>
          <p class="Headline">{{profile.get_email}}</p>
          <!-- Buttons and Description -->
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills Required</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in profile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Courses Required</h2>
            <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in profile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="buttons-desc">
            <!-- Buttons -->
            <div class="opportunities-buttons">
            {% comment %} This button leads a user to a lab's profile {% endcomment %}
              <button><a href="{% url 'profile' profile.get_user_name %}">View Profile</a></button>
              {% comment %} This button leads the user to a new or old conversation with a lab. {% endcomment %}
              <a 
                hx-get="{% url 'inbox-newmessage' profile.id %}"
                hx-target="this"
                hx-swap="innerHTML"
                style="cursor: pointer;">Send Message</a></button>
              {% comment %} This button allows the user to match with a lab. {% endcomment %}
              <button><a href="{% url 'match' profile.get_user_name %}">Match</a></button>
            </div>
            <p>{{profile.biography}}</p>
          </div>
      </div> 

  
    {% elif user_profile.matched_by.all is None %}
    <h2> No Matched Labs  </h2>
    {%endif%}

    {% endfor %}

    </div> 

    {% comment %} This block of code is for labs who you have matched with that haven't connected you back. {% endcomment %}
    <div id="matches-current">
      <div class="pagetitle">
        <h3>Awaiting Connection</h3>
      </div>
      {% comment %} This for loop lists all users that match with the current user. {% endcomment %}
      {% for profile in user_profile.matches.all %}
      {% if profile not in user_profile.matched_by.all%}
  
      <div class="gridBox-match" id="match_lab">
        <div class="top-row">
          <div class="Identityinfo">
          <img
            src="{{ profile.image_url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{profile.labname}}</h2>
          <p class="Headline">{{profile.get_email}}</p>
          <!-- Buttons and Description -->
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills Required</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in profile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Courses Required</h2>
            <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in profile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="buttons-desc">
            <!-- Buttons -->
            <div class="opportunities-buttons">
            {% comment %} This button leads a user to a lab's profile {% endcomment %}
              <button><a href="{% url 'profile' profile.get_user_name %}">View Profile</a></button>
              {% comment %} This button leads the user to a new or old conversation with a lab. {% endcomment %}
              <button><a 
                hx-get="{% url 'inbox-newmessage' profile.id %}"
                hx-target="#conversation"
                hx-swap="innerHTML">Send Message</a></button>
              {% comment %} This button allows the user to match with a lab. {% endcomment %}
              <button> <a href="{% url 'unmatch' profile.get_user_name %}">Unmatch</a></button>
            </div>
            <p>{{profile.biography}}</p>
          </div>
      </div> 
    
    
      {% elif user_profile.matches.all is None %}
      <h2> No Matched Labs  </h2>
      {%endif%}
  
      {% endfor %}
    
      <div class="pagetitle">
        <h3>Current Labs</h3>
      </div>
      {% comment %} This for loop lists all users that match with the current user. {% endcomment %}
      {% for profile in user_profile.matches.all %}
      {% if profile in user_profile.matched_by.all%}
      <div class="gridBox-match" id="match_lab">
        <div class="top-row">
          <div class="Identityinfo">
          <img
            src="{{ profile.image_url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{profile.labname}}</h2>
          <p class="Headline">{{profile.get_email}}</p>
          <!-- Buttons and Description -->
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills Required</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in profile.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Courses Required</h2>
            <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in profile.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="buttons-desc">
            <!-- Buttons -->
            <div class="opportunities-buttons">
            {% comment %} This button leads a user to a lab's profile {% endcomment %}
              <button><a href="{% url 'profile' profile.get_user_name %}">View Profile</a></button>
              {% comment %} This button leads the user to a new or old conversation with a lab. {% endcomment %}
              <button><a 
                hx-get="{% url 'inbox-newmessage' profile.id %}"
                hx-target="#conversation"
                hx-swap="innerHTML">Send Message</a></button>
              {% comment %} This button allows the user to match with a lab. {% endcomment %}
              <button> <a href="{% url 'unmatch' profile.get_user_name %}">Unmatch</a></button>
            </div>
            <p>{{profile.biography}}</p>
          </div>
      </div> 

     
      {% elif user_profile.matches.all is None %}
    <h2> No Current Labs  </h2>
    {%endif%}

      {% endfor %}

      <div>
    </div>
    {% comment %} <div id="matches-past">
      <div class="pagetitle">
        <h3>Past Labs</h3>
      </div> {% endcomment %}
    </div>
    {% comment %} <script src="{% static '/Matches.js' %}"></script> {% endcomment %}
  </body>
</html>
