
<!-- Loads all matches on opportunities/all students page -->

{% for suggestion in final_suggestions_list %}
<div class="gridBox-match" id="match_lab">
    <div class="top-row">
        <div class="Identityinfo">
          <img src="{{ suggestion.image_url }}" class="StudentPicture"/>
          {% if request.user.studentprofile.is_student%}
          <h2 class="StudentName">{{suggestion.labname}}</h2>
          {% else %}
          <h2 class="StudentName">{{suggestion.get_first_name}} {{suggestion.get_last_name}} </h2>
          {% endif %}
          <p class="Headline">{{suggestion.get_email}}</p>
        </div>
         <!-- Skills -->
        <div class="Identityinfo" id="inputs">
            <h2 style="margin-top: 0;">Skills</h2>
            <div class="tagscluster">
            <!-- Split items in skill -->
            {% for i in suggestion.skill_list %}
                <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
         <!-- Completed Courses -->
        <div class="Identityinfo" id="inputs">
          <h2 style="margin-top: 0;">Courses</h2>
          <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in suggestion.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        </div>
        <!-- Buttons and Description -->
        <div class="buttons-desc">
          <!-- Buttons -->
          <div class="opportunities-buttons">
            <button><a href="{% url 'profile' suggestion.get_user_name %}">View Profile</a></button>
            <button><a href="{% url 'inbox-newmessage-match' suggestion.id %}">Send Message</a></button>
            <button><a href="{% url 'match' suggestion.get_user_name%}">Match</a></button>
          </div>
          <!-- Lab Description -->
          <p id="bio">{{suggestion.biography}}</p>
    </div>
</div>
{% endfor %}