{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if user.is_authenticated %} {%else%}
    <meta http-equiv="refresh" content="0; /signup" />
    {%endif%}
    <title>Opportunities</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <script
      src="https://kit.fontawesome.com/351b2524ba.js"
      crossorigin="anonymous"
    >
  </script>
  <script src="https://app.simplefileupload.com/buckets/93fbd68b9250f42d26b2a4c9b1f48617.js"></script>
  </head>
  <body>
    {% block content%}
    {% include 'navbar.html' %}
    {% endblock content%}
    
    <div id="matches">
      <div class="pagetitle">
        <h3>Opportunities</h3>
      </div>
      {% for suggestion in all.studentprofile %}
      <div class="gridBox" style="justify-content: space-between;">
        <div class="Identityinfo">
          <img
            src="{{ suggestion.profile_pic.url }}"
            class="StudentPicture"
          />
          <h2 class="StudentName">{{suggestion.labname}}</h2>
          <p class="Headline">{{suggestion.get_email}}</p>
        </div>
        <!-- Skills -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Skills</h2>
          <div class="tagscluster">
            
            <!-- Split items in skill -->
            {% for i in suggestion.skill_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
        <!-- Completed Courses -->
        <div
          class="Identityinfo"
          id="inputs"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 2rem;
          "
        >
          <h2 style="margin-top: 0;">Completed Courses</h2>
          <div class="tagscluster">
            <!-- Split items in courses -->
            {% for i in suggestion.course_list %}
              <div class="child"> {{ i.strip }} </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <!--<script src="{% static '/Opportunities.js' %}"></script>-->
    <script src="{% static '/Navbar.js' %}"></script>
  </body>
</html>
