@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
:root {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  --color-text1: rgb(255, 255, 255);
  --color-text2: #ececec;
  --color-subtitle: rgb(107, 107, 107);
  --color-bg-1: rgb(63, 108, 255);
  --color-bg-2: rgb(48, 82, 192);
  --color-hover: white;
  --color-accent: purple;

  --scrollbar-thumb-color: grey;

  --transition-speed: 400ms;
}

body {
  color: black;
  background-image: url('..static/images/background4.jpg');
  margin: 0;
  padding: 0;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--color-text2);
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

main {
  margin-top: 0rem;
  padding: 1rem;
}

/* Navbar */
.navbar {
  height: 5rem;
  width: 100vw;
  position: fixed;
  background-color: var(--color-bg-1);
  transition: 200ms ease;
}

.toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 1;
}
.toggle .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-text1);
  filter: grayscale(10%) opacity(0.7);
  transition: var(--transition-speed);
}
.toggle .bar:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--color-text2);
}

@media (max-width: 450px) {
  .toggle {
    display: flex;
  }

  .nav-item {
    display: none;
    background-color: var(--color-bg-1);
  }
  .link-text {
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-item .active {
    display: flex;
  }
}

.navbar-item {
  display: block;
}
.navbar:hover .link-text {
  display: block;
}
.navbar #selected .link-text {
  display: block;
}
.navbar #selected {
  background-color: var(--color-bg-2);
}
.transition-primary {
  color: var(--color-hover);
  transition: var(--transition-speed);
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--color-text1);
  text-decoration: none;
  filter: grayscale(10%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--color-text2);
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  min-height: 2rem;
  margin: 0 1.5rem;
}

/* Logo */
.logo {
  font-weight: bold;
  text-align: center;
  color: var(--color-text2);
  background: var(--color-bg-1);
  font-size: 1.5rem;
  width: 100%;
}
.logo .link-text {
  display: block;
}

/* Match Divs */
#matches {
  display: grid;
  padding: 3rem;
  padding-top: 5rem;
  row-gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
#matches-current {
  display: grid;
  padding: 3rem;
  padding-top: 5rem;
  row-gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
#matches-past {
  display: grid;
  padding: 3rem;
  row-gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.pagetitle h3 {
  font-size: 4rem;
  padding-left: 1rem;
  border-color: var(--bg-color);
  margin-top: 2rem;
  margin-bottom: -1rem;
}
/* Phone Screens */
@media (max-width: 500px) {
  .matches {
    grid-template-columns: 1fr 2fr;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .thumbnail {
    max-height: 13em;
    max-width: 13em;
  }
  .matchInfo {
    max-height: 10rem;
  }
}
/* Larger Screens */
@media (min-width: 501px) {
  .navbar-nav {
    width: 100%;
  }
  .matches {
    grid-template-columns: 1fr 3fr;
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .thumbnail {
    max-height: 20em;
    max-width: 25em;
  }
}

/* Trying out new style */
.wrapper {
  display: grid;
  padding-top: 5rem;
  margin-right: 16rem;
  margin-left: 16rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
.gridBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 40px;
  border-width: 0.25em;
  border-style: solid;
  border-color: var(--color-bg-1);
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  padding: 2rem;
  overflow: hidden;
  background-color: white;
}
#about {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
}
.profilePicture {
  max-height: 15rem;
  max-width: 15rem;
  border-radius: 1rem;
}
.skills-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.tags-wrapper {
  display: flex;
  height: 15rem;
  flex-direction: column;
  justify-content: space-between;
}
.tags-wrapper p {
  margin: 0;
}

textarea {
  width: 100%;
  min-width: 30rem;
  height: 12rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* INBOX */
input {
  width: 100%;
}
.inbox {
  display: grid;
  height: 1fr;
  gap: 1rem;
}
.inbox-left {
  grid-column: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.inboxright {
  grid-column: 2/6;
}

.newmessage {
  grid-column: 2/6;
}
#modal-title {
  margin: 0;
}
.btn {
  cursor: pointer;
}
#conversation {
  background-color: whitesmoke;
  height: 1fr;
}
#inbox_messages { 
  margin: 1rem;
}
#inbox_messages li:not(:last-child) {
  margin-bottom: 1rem;
}
#inbox_messages li {
  max-width: 30rem;
}
.message {
  border-style: solid;
  border-color: var(--color-bg-1);
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 4px 4px 10px gray;
}

.conversation-head {
  display: flex;
  background-color: var(--color-text1);
  gap: 1rem;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}
.conversation-head img {
  width: 3rem;
  height: 3rem;
}
.message-head {
  display: flex;
  gap:0.5rem;
  align-items: center;
  text-decoration: none;
  color: black;
}
.message-head img {
  width: 1.5rem;
  height: 1.5rem;
}
.message-date {
  font-size: smaller;
  color: var(--color-subtitle);
}

.send-new-message {
  transition: 0.25s;
  height: 2rem;
  width: 10rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-text1);
  border: 3px solid transparent;
  border-color: var(--color-bg-1);
  border-radius: 1rem; /*linear-gradient(45deg, var(--color-accent), var(--color-bg-1)) 1;*/
  cursor: pointer;
  text-align: center;
  float: right;
}
.send-new-message:hover {
  color: white;
  background: var(--color-bg-1);
}
.select-conversation {
  background-color: white;
  height: 1vh;
  margin-top: 4rem;
  text-align: center;
}
/* INBOX - Active Conversations */
img {
  border-radius: 1rem;
}
li {
list-style-type: none;
}
#conversations-list li a {
  display: flex;
  gap:0.5rem;
  align-items: center;
  text-decoration: none;
  color: black; 
  padding: 0.25rem;
}
a {
  text-decoration: none;
  color: black; 
}
#conversations-list img {
  width: 3rem;
  height: 3rem;
}
#selected-conversation {
  background-color: var(--color-bg-1);
  border-radius: 1rem;
  
}
#selected-conversation a div {
  color: white;
}
#user-list {
  padding: 0;
}
.user-search {
  display: flex;
  gap: 1rem;
}
.user-search a {
  display: flex;
  gap:0.5rem;
  align-items: center;
}
.user-search img {
  width: 3rem;
  height: 3rem;
}
.user-search span {
  font-size: smaller;
  color: var(--color-subtitle)
}


