@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  --color-text1: rgb(255, 255, 255);
  --color-text2: #ececec;
  --color-bg-1: rgb(63, 108, 255);
  --color-bg-2: rgb(48, 82, 192);
  --color-hover: white;
  --color-accent: purple;

  --scrollbar-thumb-color: grey;

  --transition-speed: 400ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--color-bg-1);
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

main {
  margin-top: 0rem;
  padding: 1rem;
}

/* Navbar */
.navbar {
  height: 5rem;
  width: 100vw;
  position: fixed;
  background-color: var(--color-bg-1);
  transition: 200ms ease;
}
.navbar:hover .link-text {
  display: block;
}
.navbar #selected .link-text {
  display: block;
}
.navbar #selected {
  background-color: var(--color-bg-2);
}
.transition-primary {
  color: var(--color-hover);
  transition: var(--transition-speed);
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--color-text1);
  text-decoration: none;
  filter: grayscale(10%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--color-text2);
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  min-height: 2rem;
  margin: 0 1.5rem;
}

/* Logo */
.logo {
  font-weight: bold;
  text-align: center;
  color: var(--color-text2);
  background: var(--color-bg-1);
  font-size: 1.5rem;
  width: 100%;
}
.logo .link-text {
  display: block;
}

/* Match Divs */
#matches {
  display: grid;
  padding: 3rem;
  row-gap: 2rem;
}
.pagetitle h3 {
  font-size: 5rem;
  padding-left: 1rem;
  border-color: var(--bg-color);
  margin-top: 2rem;
  margin-bottom: -1rem;
}
@media (max-width: 60em) {
  .matches {
    grid-template-columns: 1fr 2fr;
  }
  .thumbnail {
    max-height: 13em;
    max-width: 13em;
  }
  .matchInfo {
    max-height: 10rem;
  }
}
@media (min-width: 40em) {
  .navbar-nav {
    width: 100%;
  }
  .matches {
    grid-template-columns: 1fr 3fr;
  }
  .thumbnail {
    max-height: 20em;
    max-width: 25em;
  }
}
.match {
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  overflow: hidden;
  border-radius: 40px;
  border-width: 0.25em;
  border-style: solid;
  border-color: var(--color-bg-1);
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  padding: 1rem;
}
.thumbnail {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
  border-radius: 40px;
  border-width: 0.5em;
  border-style: solid;
  border-color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
}
.matchButtonsDiv {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  gap: 0.5em;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: center;
  max-height: 8rem;
}
.matchButtons {
  height: 2rem;
  width: 10rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  border: 3px solid transparent;
  border-color: var(--color-bg-1);
  border-radius: 1rem; /*linear-gradient(45deg, var(--color-accent), var(--color-bg-1)) 1;*/
}
.matchTitle {
  grid-row: span 2;
  grid-column: 2;
  padding-left: 1rem;
}
.matchTitle h1 {
  font-size: 3em;
  align-self: left;
  margin-bottom: 0;
  line-height: 1;
}
.matchTitle h2 {
  font-size: 1em;
  font-style: italic;
  align-self: center;
  margin-top: 0;
}
.matchInfo {
  align-self: center;
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 0;
}
.matchText {
  padding: 0;
  margin: 0;
  color: black;
}

/* Profile CSS */
.FourBoxLayout {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ProfileBox {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  border-width: 0.25em;
  border-style: solid;
  border-color: var(--color-bg-1);
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  padding: 0rem 2rem 2rem 2rem;
  margin: 0;
  margin-right: 5%;
  margin-left: 5%;
  overflow: hidden;
}
.ProfileBox h2 {
  margin: 0;
  margin-top: 2rem;
}
#Skill_item {
  display: flex;
}
#Skill_item li {
  width: 100%;
}
.IdentityInfo #inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.StudentPicture {
  width: 100px;
  border-radius: 50;
}
.FourBoxLayout {
  /*For the student page*/
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

/* Roles */
.MatchesFlex {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.Labinfo {
  max-height: 15rem;
  padding-bottom: 1rem;
}
.Labinfo #desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.Labinfo img {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}
.Labinfo .Info {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 1rem;
}
.tags {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-height: 5rem;
  overflow: hidden;
}
.tag {
  color: var(--color-text1);
  background-color: var(--color-bg-1);
  font-size: 1rem;
  padding: 0 10px 0 10px;
}
